<%
  RESOURCE = '/assets/';
  TITLE = 'あああああああああああ';
  DESCRIPTION = 'あああああああああああのページです。';
  KEYWORDS = 'aaa,bbb,ccc,ddd'
  PAGEURL = 'https://www.dummy.co.jp';
  OG_IMG = 'https://ogp.jpg';
  OG_TWWITTER_SITE = '@アカウント名';
  FB = 'App-ID（15文字の半角数字）'
  FAVICON = '/favicon.ico';
  APPLE_ICON = '/favicon.ico';
%>
<head>
  <meta charset="UTF-8">
  <title><%= TITLE %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="<%= DESCRIPTION %>">
  <meta name="keywords" content="<%= KEYWORDS %>">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="<%= OG_TWWITTER_SITE %>">
  <meta property="og:site_name" content="<%= TITLE %>">
  <meta property="og:title" content="<%= TITLE %>">
  <meta property="og:description" content="<%= DESCRIPTION %>">
  <meta property="og:url" content="<%= PAGEURL %>">
  <meta property="og:image" content="<%= OG_IMG %>">
  <meta property="og:type" content="website">
  <meta property="fb:app_id" content="<%= FB %>">
  <meta property="og:locale" content="ja_JP">
  <link rel="shortcut icon" href="<%= FAVICON %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= APPLE_ICON %>">
  <link rel="canonical" href="<%= PAGEURL %>">
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
  <link type="text/css" rel="stylesheet" href="<%= RESOURCE %>css/common.css">
</head>