<!DOCTYPE html>
<html lang="ja">
  <%- require ('./include/_head.ejs')()%>
  <body>
    <%- require ('./include/_header.ejs')()%>
    <main>
      <%- require ('./include/area/_picture.ejs')()%>
      <%- require ('./include/area/_fetch.ejs')()%>
      <%# require ('./include/area/_swiper.ejs')()%>
      <%# require ('./include/area/_column.ejs')()%>
      <%- require ('./include/area/_grid.ejs')()%>
    </main>
    <%- require ('./include/_footer.ejs')()%>
    <script src="/assets/js/vendor.bundle.js"></script>
    <script src="/assets/js/index.bundle.js"></script>
  </body>
</html>
